@font-face {
    font-family: Couture;
    src: url(Couture-Bold.ttf) format('truetype');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #b4b4b4;
}

.background {
    position: absolute;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    box-shadow: inset 0 0 9vh #041224c5;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.main-logo {
    justify-content: center;
    /* Centra horizontalmente el contenido del div */
    align-items: center;
    /* Centra verticalmente el contenido del div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 450;
    cursor: pointer;
    background-color: rgba(201, 31, 31, 0);
    margin:0;
}
.main-logo:hover{
    transform: translate(-50.1%, -50.5%);
}

.main-logo.clicked {
    top: -6px;
    left: 2vw;
    transform: translate(0, 0);
    transition: all 0.5s;
    z-index: 450;
    width: auto;
}

#logoTxt {
    font-size: 15.5vw;
    /* Establece el tamaño del texto en 7 rem */
    color: white;
    text-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.274);
    transition: all 0.5s ease-in-out;
    z-index: 450;
    white-space: nowrap;
    font-family: Couture;
}

/*:hover#logoTxt{
    transform: scale(1.1, 1.1);
}*/

#logoTxt.clicked {
    font-size: 50px;
    transition: all 0.5s ease-out;
    z-index: 450;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.123);
}


.main-logo:hover #logoTxt {
    text-shadow: 0.9vw 0.9vw 0.6vw rgba(0, 0, 0, 0.349);
    z-index: 450;
}

.main-logo:hover #logoTxt.clicked {
    text-shadow: none;
    z-index: 450;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.219);
}

/*Caja principal*/
.main-box {
    justify-content: center;
    /* Centra horizontalmente el contenido del div */
    align-items: center;
    /* Centra verticalmente el contenido del div */
    width: 100vw;
    height: calc(100% - 70px);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}

.main-content {
    position: absolute;
    background-color: #1b1b1f;
    position: relative;
    display: inline-block;
    height: calc(100% - 4vh);
    width: 96vw;
    top: 1vh;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.2s ease-out;
    transition-delay: 0.2s;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 2, 15, 0.507);
    overflow: auto;
}
.main-content.left {
    transform: translate(-170%,0);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
}
.main-content.right {
    transform: translate(70%,0);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
}

.main-content.notclicked {
    position: absolute;
    transform: translate(-50%, 110%);
    box-shadow: 4px 16px 20px rgba(0, 2, 15, 0);
    transition-delay: 0s;
    
}
.main-content.notclicked.left{
    transform: translate(-170%, 0%);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right{
    transform: translate(70%, 0%);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
}

h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    padding-left: 3rem;
    padding-top: 2rem;
    transition: color 0.15s ease-out;
    font-family: Poppins;
    letter-spacing: 1px;
}
h3{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    padding-left: 3rem;
    transition: color 0.15s ease-out;
    font-family: Poppins;
    letter-spacing: 1px;
}
p {
    font-weight: 300;
    font-size: 1.5rem;
    font-family: Poppins;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 6rem;
    padding-right: 6rem;
    transition: color 0.15s ease-out;
    padding-bottom: 2rem;
}
li{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: Poppins;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 6rem;
    padding-right: 6rem;
    transition: color 0.15s ease-out;
    padding-bottom: 2rem;
}
a{
    color: cyan
}

.main-content.left p{
    color: rgba(95, 158, 160, 0);
}
.main-content.right p{
    color: rgba(95, 158, 160, 0);
}

.main-content.notclicked.left p{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right p{
    color: rgba(95, 158, 160, 0);
}
.main-content.left h2{
    color: rgba(95, 158, 160, 0);
}
.main-content.right h2{
    color: rgba(95, 158, 160, 0);
}

.main-content.notclicked.left h2{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right h2{
    color: rgba(95, 158, 160, 0);
}
.main-content.left h3{
    color: rgba(95, 158, 160, 0);
}
.main-content.right h3{
    color: rgba(95, 158, 160, 0);
}

.main-content.notclicked.left h3{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right h3{
    color: rgba(95, 158, 160, 0);
}


/*test area*/
/*.H{
    background-color: rgba(255, 0, 0, 0.055);
    position: absolute;
    height: 100vh;
    width: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.L{
    background-color: rgba(255, 0, 0, 0.055);
    position: absolute;
    height: 3px;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
/*font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bebas Neue', sans-serif;*/

.bar {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos en la barra */
    align-items: center;
    /* Centra verticalmente los elementos en la barra */
    height: 55px;
    /* Altura de la barra (ajustable) */
    background-color: #ffffff00;
    /* Color de fondo de la barra */
    margin-left: 0vw;
    margin-right: 0vw;
    z-index: 500;
    transition: all 0.5s;
    transition: padding 0s;
    
}

@media (max-width:1150px){
    .bar{
        display: flex;
        justify-content: left;
        padding-left: calc(2vw + 230px);
        transition: all 0.5s;
        transition: padding 0s;
    }
}

@media (max-width:1150px){
    .bar{
        display: none;
    }
}

.bar.notclicked {
    transform: translate(0, -100px);
    z-index: 500;
}

.btn {
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.425);
    color: rgb(255, 255, 255);
    margin: 5px;
    /* Espacio entre los botones (ajustable) */
    height: 85%;
    background-color: #1b1b1f;
    min-width: 8rem;
    transform: translate(0, -100px);
    transition: all 0.4s;
    letter-spacing: 2px;
    padding-left: 7px;
    padding-right: 7px;
    z-index: 600;
    border-bottom: solid 1px #1b1b1f;
    border-top: solid 1px #1b1b1f;
    cursor: pointer;
    font-family: Poppins;
    letter-spacing: -1px;
}

.btn.show {
    transform: translate(0, 0px);
}

.btn:hover {
    transform: scale(1.05, 1.05);
    background-color: #1b1b1f;
    letter-spacing: 3px;
    margin: 13px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.288);
    text-shadow: 0 0 8px rgb(255, 255, 255);
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    letter-spacing: -1px;
}

.btn.active.show {
    transform: scale(1, 1);
    background-color: #23232b;
    letter-spacing: 3px;
    margin: 7px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.39);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.705);
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    letter-spacing: -1px;
}

.btn.active.show:hover {
    cursor: default;
}

/*.bigbtn {
    background-color: #1b1b1f;
    border: none;
    position: absolute;
    width: 28vh;
    height: 28vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
    left: calc(50%);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 5.5vh;
    color: white;
    letter-spacing: 4px;
    transition: all 0.5s;
    border-top: solid #1b1b1f 4px;
    border-bottom: solid #1b1b1f 4px;
    transform: translate(0, -400%);
}

.bigbtn.show {
    transform: translate(0, 0);
    cursor: pointer;
}

#bignosotros {
    top: 4.2vh;
    left: calc(50vw - 30.1vh);
}

#bigasi {
    top: 4.2vh;
    left: calc(50vw + 2.1vh);
}

#bigmarcas {
    top: 36.4vh;
    left: calc(50vw - 30.1vh);
}

#bigcontactanos {
    top: 36.4vh;
    left: calc(50vw + 2.1vh);
}

#bigunete {
    top: 68.6vh;
    left: calc(50vw - 30.1vh);
}

#bignovedades {
    top: 68.6vh;
    left: calc(50vw + 2.1vh);
}

.bigbtn.show:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(32, 30, 36);
    text-shadow: 0 0 12px white;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
    box-shadow: 8px 16px 15px rgba(0, 0, 0, 0.315);
}*/

.control-btn{
    position: absolute;
    display: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
}
@media (max-width:1320px){
    .control-btn.clicked{
        display: block;
        position: absolute;
        font-weight: 300;
        font-size: 2.2rem;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.651);
        color: rgba(255, 255, 255, 0.808);
        /* Espacio entre los botones (ajustable) */
        height: 60px;
        background-color: #1b1b1fce;
        top: 4px;
        right: 2vw;
        transition: all 0.4s;
        letter-spacing: 2px;
        z-index: 600;
        cursor: pointer;
        font-family: Poppins;
        width: 60px;
        transform:rotateZ(-90deg)
    }
    .control-btn{    
        display: block;
        position: absolute;
        font-weight: 300;
        font-size: 2.2rem;
        border: none;
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.651);
        color: rgba(255, 255, 255, 0.808);
        /* Espacio entre los botones (ajustable) */
        height: 60px;
        background-color: #1b1b1fce;
        top: 4px;
        right: 2vw;
        transition: all 0.4s;
        letter-spacing: 2px;
        z-index: 600;
        cursor: pointer;
        font-family: Poppins;
        width: 60px;
        transform:translate(0,-90px) rotate(-90deg);
    }
}