@font-face {
    font-family: Couture;
    src: url(Couture-Bold.ttf) format('truetype');
}

:root{
    --bar-height1: 50px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #b4b4b4;
}
.main-content::-webkit-scrollbar {
    width: 14px;
    transition:all 1s;
}
.main-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.075);   
    box-shadow: inset 0 0 2px #04122400;
    border-radius: 7px;
}
.main-content::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.473);   
    box-shadow: inset 0 0 2px #04122477;
}

.background {
    position: absolute;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    box-shadow: inset 0 0 9vh #041224c5;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}
/*                             
`7MMF'                                    
  MM                                      
  MM         ,pW"Wq.   .P"Ybmmm  ,pW"Wq.  
  MM        6W'   `Wb :MI  I8   6W'   `Wb 
  MM      , 8M     M8  WmmmP"   8M     M8 
  MM     ,M YA.   ,A9 8M        YA.   ,A9 
.JMMmmmmMMM  `Ybmd9'   YMMMMMb   `Ybmd9'  
                      6'     dP           
                      Ybmmmd'     
*/                         
.main-logo {
    justify-content: center;
    /* Centra horizontalmente el contenido del div */
    align-items: center;
    /* Centra verticalmente el contenido del div */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    z-index: 450;
    cursor: pointer;
    background-color: rgba(201, 31, 31, 0);
    margin:0;
}
.main-logo:hover{
    transform: translate(-50.1%, -50.5%);
}

.main-logo.clicked {
    top: -2px;
    left: 2vw;
    transform: translate(0, 0);
    transition: all 0.5s;
    z-index: 450;
    width: auto;
    height: var(--bar-height1);
    justify-content: center;
    align-items: center;
    line-height: 1; 
}

#logoTxt {
    font-size: 15.5vw;
    /* Establece el tamaño del texto en 7 rem */
    color: white;
    text-shadow: 0.5vw 0.5vw 0.5vw rgba(0, 0, 0, 0.274);
    transition: all 0.5s ease-in-out;
    z-index: 450;
    white-space: nowrap;
    font-family: Couture;
    user-select: none;
}

#logoTxt.clicked {
    font-size: 50px;
    transition: all 0.5s ease-out;
    z-index: 450;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.123);
}

.main-logo:hover #logoTxt {
    text-shadow: 0.9vw 0.9vw 0.6vw rgba(0, 0, 0, 0.349);
    z-index: 450;
}

.main-logo:hover #logoTxt.clicked {
    text-shadow: none;
    z-index: 450;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.219);
}

/*
`7MMM.     ,MMF'           db                  `7MM"""Yp,                      
  MMMb    dPMM                                   MM    Yb                      
  M YM   ,M MM   ,6"Yb.  `7MM  `7MMpMMMb.        MM    dP  ,pW"Wq.  `7M'   `MF'
  M  Mb  M' MM  8)   MM    MM    MM    MM        MM"""bg. 6W'   `Wb   `VA ,V'  
  M  YM.P'  MM   ,pm9MM    MM    MM    MM        MM    `Y 8M     M8     XMX    
  M  `YM'   MM  8M   MM    MM    MM    MM        MM    ,9 YA.   ,A9   ,V' VA.  
.JML. `'  .JMML.`Moo9^Yo..JMML..JMML  JMML.    .JMMmmmd9   `Ybmd9'  .AM.   .MA.
*/
.main-box {
    justify-content: center;
    /* Centra horizontalmente el contenido del div */
    align-items: center;
    /* Centra verticalmente el contenido del div */
    width: 100vw;
    height: calc(100% - var(--bar-height1));
    position: absolute;
    top: var(--bar-height1);
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}
.main-content {
    position: absolute;
    position: relative;
    display: inline-block;
    height: calc(100% - 4vh);
    width: 70vw;
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 0.5s, background-color 0.2s ease-out;
    border-radius: 5px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.466);   
    overflow: auto;
}
.main-content.left {
    transform: translate(-170%,0);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
    backdrop-filter: blur(0px);
}
.main-content.right {
    transform: translate(70%,0);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
    backdrop-filter: blur(0px);
}

.main-content.notclicked {
    position: absolute;
    transform: translate(-50%, 110%);
    box-shadow: 4px 16px 20px rgba(0, 2, 15, 0);
    transition-delay: 0s;
    
}

/*
`7MM"""YMM               `7MM                 .g8""8q.                 mm    
  MM    `7                 MM               .dP'    `YM.               MM    
  MM   d    ,6"Yb.    ,M""bMM   .gP"Ya      dM'      `MM `7MM  `7MM  mmMMmm  
  MM""MM   8)   MM  ,AP    MM  ,M'   Yb     MM        MM   MM    MM    MM    
  MM   Y    ,pm9MM  8MI    MM  8M""""""     MM.      ,MP   MM    MM    MM    
  MM       8M   MM  `Mb    MM  YM.    ,     `Mb.    ,dP'   MM    MM    MM    
.JMML.     `Moo9^Yo. `Wbmd"MML. `Mbmmd'       `"bmmd"'     `Mbod"YML.  `Mbmo 
*/
.main-content.notclicked.left{
    transform: translate(-170%, 0%);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right{
    transform: translate(70%, 0%);
    transition-delay: 0.1s;
    background-color: rgba(95, 158, 160, 0);
    color: rgba(95, 158, 160, 0);
}

.main-content.left p{
    color: rgba(95, 158, 160, 0);
}
.main-content.right p{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.left p{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right p{
    color: rgba(95, 158, 160, 0);
}
.main-content.left h2{
    color: rgba(95, 158, 160, 0);
}
.main-content.right h2{
    color: rgba(95, 158, 160, 0);
}

.main-content.notclicked.left h2{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right h2{
    color: rgba(95, 158, 160, 0);
}
.main-content.left h3{
    color: rgba(95, 158, 160, 0);
}
.main-content.right h3{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.left h3{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right h3{
    color: rgba(95, 158, 160, 0);
}
.main-content.left li{
    color: rgba(95, 158, 160, 0);
}
.main-content.right li{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.left li{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right li{
    color: rgba(95, 158, 160, 0);
}
.main-content.left a{
    color: rgba(95, 158, 160, 0);
}
.main-content.right a{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.left a{
    color: rgba(95, 158, 160, 0);
}
.main-content.notclicked.right a{
    color: rgba(95, 158, 160, 0);
}
/*
`7MM"""Yp,                                     
  MM    Yb                                     
  MM    dP  ,6"Yb.  `7Mb,od8 
  MM"""bg. 8)   MM    MM' "'  
  MM    `Y  ,pm9MM    MM      
  MM    ,9 8M   MM    MM       
.JMMmmmd9  `Moo9^Yo..JMML.   
*/
.bar {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente los elementos en la barra */
    align-items: center;
    /* Centra verticalmente los elementos en la barra */
    height: var(--bar-height1);
    /* Altura de la barra (ajustable) */
    backdrop-filter: blur(5px);
    background-color: #00000038;
    /* Color de fondo de la barra */
    margin-left: 0vw;
    margin-right: 0vw;
    z-index: 500;
    transition: all 0.2s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.445);
    
}

.bar.notclicked {
    transform: translate(0, -100px);
    z-index: 500;
    transition: all 0.2s;
    transition-delay: 0.6s;
}
/*
`7MM"""Yp,             mm                                           
  MM    Yb             MM                                           
  MM    dP  ,pW"Wq.  mmMMmm   ,pW"Wq.  `7MMpMMMb.   .gP"Ya  ,pP"Ybd 
  MM"""bg. 6W'   `Wb   MM    6W'   `Wb   MM    MM  ,M'   Yb 8I   `" 
  MM    `Y 8M     M8   MM    8M     M8   MM    MM  8M"""""" `YMMMa. 
  MM    ,9 YA.   ,A9   MM    YA.   ,A9   MM    MM  YM.    , L.   I8 
.JMMmmmd9   `Ybmd9'    `Mbmo  `Ybmd9'  .JMML  JMML. `Mbmmd' M9mmmP' 
*/
.btn {
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.425);
    color: rgb(255, 255, 255);
    margin: 5px;
    /* Espacio entre los botones (ajustable) */
    height: 85%;
    background-color: #1b1b1f;
    min-width: 6.5rem;
    transform: translate(0, -100px);
    transition: all 0.4s;
    letter-spacing: 2px;
    padding-left: 7px;
    padding-right: 7px;
    z-index: 600;
    border-bottom: solid 1px #1b1b1f;
    border-top: solid 1px #1b1b1f;
    cursor: pointer;
    font-family: Poppins;
    letter-spacing: -1px;
    white-space: nowrap;
}

.btn.show {
    transform: translate(0, 0px);
}

.btn:hover {
    transform: scale(1.05, 1.05);
    background-color: #1b1b1f;
    letter-spacing: 3px;
    margin: 13px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.288);
    text-shadow: 0 0 8px rgb(255, 255, 255);
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    letter-spacing: -1px;
}

.btn.active.show {
    transform: scale(1, 1);
    background-color: #23232b;
    letter-spacing: 3px;
    margin: 7px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.39);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.705);
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    letter-spacing: -1px;
}

.btn.active.show:hover {
    cursor: default;
}

/*
`7MMM.     ,MMF'                                 
  MMMb    dPMM                                   
  M YM   ,M MM   .gP"Ya  `7MMpMMMb.  `7MM  `7MM  
  M  Mb  M' MM  ,M'   Yb   MM    MM    MM    MM  
  M  YM.P'  MM  8M""""""   MM    MM    MM    MM  
  M  `YM'   MM  YM.    ,   MM    MM    MM    MM  
.JML. `'  .JMML. `Mbmmd' .JMML  JMML.  `Mbod"YML.
*/
.control-btn{
    position: absolute;
    display: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
}

.menu{
    display: block;
    position: absolute;
    background-color: rgba(193, 67, 209, 0);
    margin-top: 0;
    transform: translate(0,0);
    width: 100%;
    height: 100%;
    z-index: 700;
    top:-6px;
    transform: translate(-100%);
}
.menu.show{
    transform: translate(0);

}
.movile-selector{
    display: block;
    height: auto;
    margin-top:8px;
}
.btn-section-selector{
    border: none;
    width: 286px;
    z-index: 720;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.3);    
    background-image: url(back.png); /* */
    background-position-x: 90px;
    background-size: 320% auto ;
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.6rem;
    font-family: Roboto;
    font-weight: 500;
    height: 4.8rem;
    text-align: start;
    padding-left: 30px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25), inset 0 1px 5px rgba(0, 0, 0, 0.082);
    transform: translateX(-20px);
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    box-shadow:inset 0px -5px 13px rgb(0, 0, 0);
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 99% 2%, 99% 3%, 
    99% 4%, 100% 5%, 99% 6%, 99% 8%, 99% 10%, 98% 11%, 98% 12%, 
    98% 14%, 97% 15%, 98% 17%, 97% 19%, 98% 20%, 97% 22%, 98% 24%, 
    98% 25%, 98% 26%, 99% 27%, 98% 28%, 98% 29%, 98% 30%, 98% 32%, 
    97% 33%, 97% 34%, 98% 36%, 97% 37%, 97% 38%, 97% 40%, 96% 41%, 
    96% 43%, 96% 44%, 96% 46%, 96% 48%, 95% 50%, 95% 52%, 94% 54%, 
    93% 57%, 94% 59%, 93% 62%, 93% 64%, 92% 68%, 92% 70%, 91% 71%, 
    92% 73%, 91% 76%, 90% 78%, 90% 80%, 89% 82%, 89% 84%, 90% 86%, 
    89% 87%, 87% 90%, 88% 92%, 87% 94%, 86% 96%, 87% 97%, 86% 99%, 
    85% 100%);

}
.btn-section-selector.active{
    transform: translate(0px,-1px);
}
    
.btn-section-selector.hidden{ 
    transform: translate(-100%,0);
}



/*
MMP""MM""YMM                       mm                      
P'   MM   `7                       MM                      
     MM       .gP"Ya  `7M'   `MF'mmMMmm 
     MM      ,M'   Yb   `VA ,V'    MM   
     MM      8M""""""     XMX      MM    
     MM      YM.    ,   ,V' VA.    MM    
   .JMML.     `Mbmmd' .AM.   .MA.  `Mbmo
*/

h2{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    padding-left: 3rem;
    transition: color 0.15s ease-out;
    font-family: Roboto;
    letter-spacing: 1px;
}

h3{
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    padding-left: 3rem;
    transition: color 0.15s ease-out;
    font-family: Roboto;
    letter-spacing: 1px;
}
p {
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Roboto;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 6rem;
    padding-right: 6rem;
    transition: color 0.15s ease-out;
    padding-bottom: 2rem;
}
li{
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Roboto;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 6rem;
    padding-right: 6rem;
    transition: color 0.15s ease-out;
    padding-bottom: 2rem;
}
a{
    font-weight: 400;
    font-size: 1.5rem;
    font-family: Roboto;
    letter-spacing: 1px;
    color: rgb(0, 26, 255);
    font-family: 'Barlow Condensed', sans-serif;
    transition: color 0.15s ease-out;
    padding-bottom: 2rem;
}
a.tel{
    color: rgb(0, 0, 0);
}

/*
                                                 ,,    ,,           
     ,.-==-.     `7MMM.     ,MMF'              `7MM    db           
  ,pd'      `g.    MMMb    dPMM                  MM                 
 ,P   ,dMb.A  Y.   M YM   ,M MM   .gP"Ya    ,M""bMM  `7MM   ,6"Yb.  
,P   dP  ,MP  j8   M  Mb  M' MM  ,M'   Yb ,AP    MM    MM  8)   MM  
8:  dM'  dM   d'   M  YM.P'  MM  8M"""""" 8MI    MM    MM   ,pm9MM  
Wb  YML.dML..d'    M  `YM'   MM  YM.    , `Mb    MM    MM  8M   MM  
 Wb  ``""^`"'    .JML. `'  .JMML. `Mbmmd'  `Wbmd"MML..JMML.`Moo9^Yo.
  `M..     .,!                                                      
    `Ybmmd'            
*/


/*Medium Screen*/
@media (max-width:1440px){

}
@media (max-width:1320px){
    .bar{
        display: flex;
        justify-content: left;
        padding-left: calc(2vw + 222px);
        transition: all 0.5s;
        transition: padding 0s;
    }
}
@media (max-width:1080px) {
    .main-logo.clicked
    {
        height: 40px;
    }
    #logoTxt.clicked{
        font-size: 40px;
    }
    .bar{
        height: 40px;
        display: flex;
        justify-content: center;
        /* Centra horizontalmente los elementos en la barra */
        align-items: center;
        padding-left: 0px;
    }
    .btn{
        font-size: 1rem;
        min-width: auto;
    }
    .main-box{
        top: 40px;
        height: calc(100% - 40x);
    }
}


/*resolucion laptop < 1024 px*/

@media (max-width:1024px){
    .main-logo.clicked
    {
        height: 35px;
    }
    #logoTxt.clicked{
        font-size: 35px;
    }
    .bar{
        height: 35px;
        display: flex;
        justify-content: center;
        /* Centra horizontalmente los elementos en la barra */
        align-items: center;
        padding-left: 0px;
    }
    .btn{
        font-size: 0.84rem;
        min-width: auto;
    }
    .main-box{
        top: 35px;
        height: calc(100% - 35x);
    }
    p{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1.2rem;
        font-size: 1rem;
    }
    li{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 1.2rem;
        font-size: 1rem;
    }
    h2{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.7rem;
        font-size: 1.4rem;
    }
    h3{
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.4rem;
    }
    
}
@media (max-width:920px){
    .bar{
        display: flex;
        justify-content: left;
        padding-left: calc(2vw + 156px);
        transition: all 0.5s;
        transition: padding 0s;
    }
}

/*resolucion tablet < 768 px*/

@media (max-width:768px){
    .bar{
        display: none;
    }
    .control-btn{    
        display: block;
        position: absolute;
        border: none;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.651);
        color: rgba(255, 255, 255, 0.808);
        font-size: 20px;
        font-weight: 300;
        height: 60px;
        background-color: #1b1b1fce;
        top: 4px;
        right: 2vw;
        transition: all 0.4s;
        letter-spacing: 2px;
        transform:translate(0,-90px) rotate(-90deg);
        width: calc(var(--bar-height1) * 0.85) ;
        height: calc(var(--bar-height1) * 0.85) ;
        font-family: Poppins;     
    }
    .control-btn.clicked{
        z-index: 600;
        cursor: pointer;
        transform:rotateZ(-90deg)
    }
    .main-logo.clicked
    {
        height: 50px;
    }
    #logoTxt.clicked{
        font-size: 50px;
    }
    .bar{
        height: 50px;
    }
    .main-box{
        top: 50px;
        height: calc(100% - 50x);
    }
    p{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 1.2rem;
    }
    li{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 1.2rem;
    }
    h2{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }
    h3{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
/*resolucion movil < 768 px*/
@media (max-width:425px){
    p{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
    h2{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1.7rem;
    }
    h3{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    li{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
    }
}
/*.bigbtn {
    background-color: #1b1b1f;
    border: none;
    position: absolute;
    width: 28vh;
    height: 28vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.315);
    left: calc(50%);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 900;
    font-size: 5.5vh;
    color: white;
    letter-spacing: 4px;
    transition: all 0.5s;
    border-top: solid #1b1b1f 4px;
    border-bottom: solid #1b1b1f 4px;
    transform: translate(0, -400%);
}
*/
